<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand">Flickr Viewer - Tabrez Akhtar</span>
    </div>
  </div>
</nav>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
		<div class="col-lg-12">
			<form ng-submit="search()">
			    <div class="input-group">
			      	<input type="text" class="form-control" id="searchTags" placeholder="Filter by Tags" ng-model="vm.filter">
			      	<span class="input-group-btn">
			        	<input class="btn btn-primary" value="Search" type="submit">
			    	</span>
		    	</div>
	    	</form>
	  	</div>
  	</div>
  </div>

  <div class="panel-body">
    <div class="row">
  		<div ng-repeat="item in vm.items" class="col-md-4 col-md-4 col-md-4">
          	<div class="thumbnail">
                <a href="{{item.media.m}}" class="image" style="background-image: url({{item.media.m}});"></a>
	            	<p id="thumbnail-label">Author: {{item.author}}</p>
                <div class="clearfix"></div>
        		</div>
  		</div>
	 </div>
  </div>

</div>